name: Rust
on: [push]
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        rust: [stable, beta, nightly]

    steps:
    - name: Install Lunux dependencies
      if: startsWith(matrix.os,'ubuntu')
      run: |
        sudo apt-get update
        sudo apt-get install -y libsndfile1-dev

    - name: Install macOS dependencies
      if: startsWith(matrix.os,'macOS')
      run: |
        brew update
        brew install libsndfile

    - name: Install Windows dependencies
      if: startsWith(matrix.os,'windows')
      run: |
        vcpkg update
        vcpkg install libsndfile:windows-x64-static

    - uses: hecrj/setup-rust-action@v1
      with:
        rust-version: ${{ matrix.rust }}
    - uses: actions/checkout@master
    - name: Run tests
      run: cargo test --verbose
